version: "3.9"

services:
  postgres:
    image: library/postgres:13.1
    environment:
      - POSTGRES_DB=test
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=test
    ports:
      - 5434:5432
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data:
